* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

button {
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background: #f2f2f2;
  text-align: left;
}

button:hover {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #f2f2f2;
}

.card {
  padding: 2rem;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.card:nth-child(1) {
  background: #e38826;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:nth-child(1) .btn button {
  color: #e38826;
}

.card:nth-child(2) {
  background: #006970;
}

.card:nth-child(2) .btn button {
  color: #006970;
}

.card:nth-child(3) {
  background: #004241;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card:nth-child(3) .btn button {
  color: #004241;
}

.header {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: #f2f2f2;
}

.desc {
  color: #ffffffbf;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

@media (max-width: 360px) {
  .cards {
    width: 100%;
    flex-direction: column;
  }
  .card:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .card:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
